#register-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos para el título */
.register-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Estilos para el formulario */
.register-form {
    display: flex;
    flex-direction: column;
}

/* Estilos para los campos de entrada */
.register-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el botón de enviar */
.register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}