/* Estilos mejorados para el componente Create */
.create-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrappers .buttonss {
  width: 100%;
  height: 50px;
  /* Ajustar la altura del botón */
  background: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #00011f;
  font-weight: 700;
  margin-top: 20px;
  /* Añadir un espacio entre el botón y los campos de entrada */
}

.wrappers .buttonss:hover {
  background: #000bb0;
  color: #fff;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.create-input,
.create-button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.create-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}



.modal-content {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
